<tx-document-editor width="1000px"
                    height="500px"
                    webSocketURL="wss://localhost:44312">
</tx-document-editor>
<input (click)="onClickLoadDocument()" type="button" value="Load Document" />
<input (click)="onClickSaveDocument()" type="button" value="Save Document" />
<!--webSocketURL="wss://qms.sds.com"-->
