<!--<tx-document-editor width="1000px"
                    height="500px"
                    webSocketURL="wss://localhost:44391">
</tx-document-editor>
  
<input (click)="onClickSaveDocument()" type="button" value="Merge Document" />-->
<!-- -->
<tx-document-viewer width="800px"
                    height="800px"
                    dock="Fill"
                    basePath ="https://backend.textcontrol.com?access-token=CV1sRryMKcJwvT31mfYy"
                    documentPath="doc.docx"
                    toolbarDocked=true
                    isSelectionActivated=true
                    showThumbnailPane=true>
</tx-document-viewer>
<input (click)="onClickLoadDocument()" type="button" value="Load Document" />

